<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum App</title>
        <link rel="stylesheet" href="stylesheet.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    </head>
    <body>
        <header>
            <%- include("templates/header.ejs") %>
        </header>
        <main>
            <section class="section p-1">
                <div class="container is-max-desktop">
                    <h2 class="has-text-centered is-size-3" id="mainTitle">Forum Categories</h2>
                    <div class="has-text-centered" id="content">
    
                    </div>
    
                    </div>           
                </div>
            </section>
            <div>

            </div>
        </main>

        <template id="categoryTemplate">
            <div class="box">
                <h1 class="is-size-4 m-0 has-text-weight-bold"><a id="categoryTitle"></a></h1>
                <hr style="margin: .5em">
                <p id="categoryDescription"></p>
            </div>
        </template>

        <template id="topicTemplate">
            <div class="box m-1 p-1">
                <h1 class="is-size-4 m-0 has-text-weight-bold">
                    <a id="topicTitle">

                    </a>
                </h1>
                <p id="username"></p>
            </div>
        </template>

        <template id="postTemplate">
            <div class="box m-1 p-1">
                <h1 class="is-size-4 m-0 has-text-weight-bold">
                    <p id="postUsername" style="float: left; width: 20%;">

                    </p>
                </h1>
                <p id="postContent" style="align-content: center;" class="has-text-centered"></p>
            </div>
        </template>

        <template id="createPostTemplate">
            <div class="box m-1 p-1">
                <textarea class="textarea" placeholder="Type your post here" id="postTextarea"></textarea>
                <a class="button" id="createpostButton">Post</a>
            </div>
        </template>

        <template id="createTopicTemplate">
            <div class="box m-1 p-1">
                <textarea class="textarea" placeholder="Type your topic title here" id="topicTextarea"></textarea>
                <a class="button" id="createTopicButton">Post</a>
            </div>
        </template>

        <script src="index.js" async defer></script>
    </body>
</html>