body{
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

main{
    margin: auto;
    width: 50%;
}

header{
    border-bottom: 4px solid black;
    padding: 1%;
}

.catagory h5{
    border-top: solid black 2px;
}

.headertext{
    text-align: center;
}

.catagory{
    border: 2px black solid;
    border-radius: 5px;
    margin-bottom: 3%;
    box-shadow: black 5px 5px 10px;
}
.catagory * {
    padding: 10px;
}

header input{
    border: none;
    border-bottom: black solid 3px;
    outline: none;
}

header input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
header input[type=text]:focus {
    width: 100%;
  }

.offset {
    margin-left: 10%;
}

a{
    color: black;
    text-decoration: none;
}

.login{
    margin: auto;
    width: 50%;
}